<?xml version="1.0" encoding="utf-8"?>
<AppSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <InputDefaultBindingsFixApplied>true</InputDefaultBindingsFixApplied>
    <ShowMenuFixApplied>true</ShowMenuFixApplied>
    <MenuUpdateVersion>0</MenuUpdateVersion>
    <Volume>50</Volume>
    <RecentFiles />
    <WindowLocation>
        <X>0</X>
        <Y>0</Y>
    </WindowLocation>
    <WindowPosition>
        <X>959</X>
        <Y>515</Y>
    </WindowPosition>
    <WindowSize>
        <Width>1107</Width>
        <Height>623</Height>
    </WindowSize>
    <AudioDevice>auto</AudioDevice>
    <ConfigEditorSearch>OSD</ConfigEditorSearch>
    <Mute>no</Mute>
    <StartupFolder />
</AppSettings>