<?xml version="1.0" encoding="utf-8"?>
<AppSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <InputDefaultBindingsFixApplied>true</InputDefaultBindingsFixApplied>
    <ShowMenuFixApplied>true</ShowMenuFixApplied>
    <MenuUpdateVersion>0</MenuUpdateVersion>
    <Volume>80</Volume>
    <RecentFiles>
        <string>C:\Users\Games\Music\Music\69 You Say Run - Yuki Hayashi.mp3</string>
        <string>C:\Users\Games\Downloads\Archive\Temp_Sus\zxx Vids xxz\AANIX_Chunni_2nd_trip_-_4k.mp4</string>
        <string>C:\Users\Games\Music\Music\68 My Ex Web Browser (Original Soundtrack) - Chewkz.mp3</string>
    </RecentFiles>
    <WindowLocation>
        <X>0</X>
        <Y>0</Y>
    </WindowLocation>
    <WindowPosition>
        <X>960</X>
        <Y>515</Y>
    </WindowPosition>
    <WindowSize>
        <Width>1293</Width>
        <Height>727</Height>
    </WindowSize>
    <AudioDevice />
    <ConfigEditorSearch>vol</ConfigEditorSearch>
    <Mute>no</Mute>
    <StartupFolder />
</AppSettings>